{% extends 'base.html' %}
{% macro display_comments(comments) %}
<div class="cont">
<div class="card">
    <h1 class="card-tittle">Comments</h1>
    {% for comment in comments %}
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pic/' + comment.author.image_file) }}">
    <a class="mr-2 commentname" href="#">Comment by: {{ comment.author.username }}</a>
    <p class="card-body">Comment: {{comment.comment}}</p>
    {% endfor %}
</div>
</div>
{% endmacro %}
