<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class="text-muted">Feel free to write anything you like on this space provided.
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calenders</li>
                    <li class="list-group-item list-group-item-light">e.t.c</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>